<div ng-controller="Editorjs.Settings.Blocks.Controller">

    <table class="table table-condensed">
        <thead>
            <tr>
                <th>Block</th>
                <th>active</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="block in blocks" class="block-item">
                <td>
                    <a target="_blank" href="/App_Plugins/editorjs/Lib/blocks/{{block.Filename}}">{{block.Filename}} <i class="icon-code"></i></a>
                </td>
                <td>
                    <input type="checkbox" value="{{block.Name}}" ng-model="block.Active">
                </td>
            </tr>
        </tbody>
    </table>

</div>  