<div class="umb-property-editor" ng-controller="Our.Umbraco.Editorjs.SettingsToolsConfigure.Controller as vm">
    <umb-editor-view>

        <umb-editor-header name="vm.title"
                           name-locked="true"
                           hide-alias="true"
                           hide-icon="true"
                           hide-description="true">
        </umb-editor-header>

        <umb-editor-container>

            <umb-box ng-if="model.value !== undefined">
                <umb-box-content class="block-form">
                    <div umb-ace-editor="vm.aceOptions" model="model.value"></div>
                </umb-box-content>
            </umb-box>

            <umb-empty-state ng-if="model.value === undefined" position="center">
                There is no configuration for this tool.
            </umb-empty-state>

        </umb-editor-container>

        <umb-editor-footer>
            <umb-editor-footer-content-right>
                <umb-button type="button"
                            button-style="link"
                            shortcut="esc"
                            label-key="general_close"
                            action="vm.close()">
                </umb-button>
                <umb-button type="button"
                            button-style="success"
                            label-key="bulk_done"
                            action="vm.save(model.value)">
                </umb-button>
            </umb-editor-footer-content-right>
        </umb-editor-footer>

    </umb-editor-view>
</div>

